<div class="mb-5 min-h-[80vh] flex justify-center items-center">
  <div
    class="flex w-[85%] flex-col flex-wrap p-4 border border-gray-300 shadow-md rounded-mdbg-white"
  >
    <div
      class="flex items-cente justify-between border-b border-gray-200 px-4 pb-3 sm:px-6"
    >
      <div
        (click)="openEditModalFunc()"
        class="cursor-pointer inline-flex items-center px-4 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Edit Compound
      </div>
      <div
        (click)="openDeleteModalFunc()"
        class="cursor-pointer inline-flex items-center px-4 py-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
      >
        Delete Compound
      </div>
    </div>

    <div class="w-full flex flex-col 2xl:flex-row flex-wrap justify-around">
      <div class="w-[100%] 2xl:w-[30%] flex justify-center mt-[1rem] 2xl:border-r border-gray-200">
        <app-card></app-card>
      </div>
      <div class="w-[100%] 2xl:w-[70%] flex justify-center items-center">
        <div class="w-[70%] text-xl text-center">
            Ammonium aluminium sulfate, also known as ammonium alum or just alum (though there are many different substances also called 'alum'), is a white crystalline double sulfate usually encountered as the dodecahydrate, formula (NH4)Al(SO4)2·12H2O. It is used in small amounts in a variety of niche applications.
        </div>
      </div>
    </div>
  </div>
  <app-edit-modal *ngIf="openEditModal" (close)="closeEditModalFunc()"></app-edit-modal>
  <app-alert-modal *ngIf="openDeleteModal" (close)="closeDeleteModalFunc()"></app-alert-modal>
</div>
