<div class="mb-5 min-h-[80vh] flex justify-center items-center">
  <div
    class="flex w-[85%] flex-col flex-wrap p-4 border border-gray-300 shadow-md rounded-mdbg-white"
  >
    <div
      class="flex items-cente justify-between border-b border-gray-200 px-4 pb-3 sm:px-6"
    >
      <div
        (click)="openEditModalFunc()"
        class="cursor-pointer inline-flex items-center px-4 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Edit Compound
      </div>
      <div
        (click)="openDeleteModalFunc()"
        class="cursor-pointer inline-flex items-center px-4 py-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
      >
        Delete Compound
      </div>
    </div>

    <div class="w-full flex flex-col 2xl:flex-row flex-wrap justify-around">
      <div class="w-[100%] 2xl:w-[30%] flex justify-center mt-[1rem] 2xl:border-r border-gray-200">
        <div class="m-[25px] max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white dark:border-gray-700 w-[290px] h-[350px] flex flex-col">
          <div class="bg-contain bg-no-repeat bg-center object-contain rounded-t-lg flex-1" style="background-image: url({{compound.compoundImage}})">
          </div>
          <div class="p-5 flex flex-col justify-center items-center">
              <div class="text-center">
                  <h5 class="mb-2 text-[30px] font-bold tracking-tight text-gray-900 dark:text-black">{{compound.compoundName}}</h5>
              </div>
          </div>
      </div>
      </div>
      <div class="w-[100%] 2xl:w-[70%] flex justify-center items-center">
        <div class="w-[70%] text-xl text-center">
          {{compound.compoundDescription}}
        </div>
      </div>
    </div>
  </div>
  <app-edit-modal [compound]="compound" *ngIf="openEditModal" (close)="closeEditModalFunc()"></app-edit-modal>
  <app-alert-modal *ngIf="openDeleteModal" (close)="closeDeleteModalFunc()"></app-alert-modal>
</div>
