<div class="mb-5 min-h-[80vh] flex justify-center items-center">
  <div
    class="flex flex-col flex-wrap p-4 border border-gray-300 shadow-md rounded-mdbg-white"
  >
    <div
      class="flex items-center justify-end border-b border-gray-200 px-4 pb-3 sm:px-6"
    >
      <div
        class="inline-flex items-center px-4 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Add Compound
      </div>
    </div>
    <div class="flex flex-wrap justify-around">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div
      class="flex items-center justify-between border-t border-gray-200 px-4 pt-3 pb-1 sm:px-6"
      aria-label="Pagination"
    >
      <div class="hidden sm:block">
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium">1</span>
          to
          <span class="font-medium">10</span>
          of
          <span class="font-medium">20</span>
          results
        </p>
      </div>
      <div class="flex flex-1 justify-between sm:justify-end">
        <div
          href="#"
          class="cursor-pointer relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0"
        >
          Previous
        </div>
        <div
          href="#"
          class="cursor-pointer relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0"
        >
          Next
        </div>
      </div>
    </div>
  </div>
</div>
